* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #27213C; /* Roxo escuro para o texto */
  background-color: #FDFCDC; /* Creme claro para o fundo */
}

header {
  background-color: #537895; /* Azul suave para o cabeçalho */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-image: url('../images/gradient4.png'); /* Adicione o gradiente no final do header */
  background-size: cover;
  background-repeat: no-repeat;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #1f35af; /* Coral para o título do logo */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #27213C; /* Mantendo o roxo escuro para os links */
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #FED9B7; /* Pêssego para hover nos links */
}

main {
  max-width: 960px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.about, .projects, .contact,.stacks {
  margin-bottom: 3rem;
  background-color: #fff; /* Fundo branco para seções */
  padding: 2rem;
  border-radius: 8px; /* Adiciona bordas arredondadas */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra sutil */
}

.profile-image {
  max-width: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 3px solid #2899ce; 
}

.about-content, .project-container, .social-links {
  text-align: left;
}

h2 {
  margin-bottom: 1rem;
  color: #1f35af;
  font-size: 2.2rem;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin-bottom: 1rem;
}

footer {
  background-color: #7C9EB2; /* Azul suave para o rodapé */
  text-align: center;
  padding: 1rem 0;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
  background-image: url('../images/gradient4.png'); /* Adicione o gradiente no final do header */
  background-size: cover;
  background-repeat: no-repeat;
}

footer p {
  margin: 0;
  color: #FDFCDC; /* Creme claro para o texto do rodapé */
}

.stack-list {
  list-style: none; /* Remove os marcadores de lista */
  padding: 0;
}

.stack-list li {
  margin-bottom: 1rem;
}

.stack-list li:last-child {
  margin-bottom: 0;
}

.stack-list li::before {
  content: "★"; 
  color: var(--color-primary); 
  margin-right: 0.5rem;
}

.stack-list li span {
  color: var(--color-primary); 
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #27213C;
  background-image: url('../images/gradient2.png'); /* Verifique se o caminho está correto */
  background-size: cover;
  background-repeat: no-repeat;
}