section {
  margin-bottom: 2rem;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: darken(var(--color-secondary), 10%);
}

.links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 2rem;
}

.project {
  border: 2px solid var(--color-secondary);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.project .repoUrl {
  font-size: 1.6rem;
  font-weight: bold;
}

.project .description {
  font-size: 1.4rem;
  margin: 0.5rem 0;
}

.project .language {
  font-size: 1.2rem;
  color: var(--color-primary);
}

#tec h2, #tec h3, #tec h4 {
  color: var(--color-primary);
}