html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: var(--color-fundo);
  font-family: "Optima", sans-serif;
  color: white;
}
header {
  padding: 32px;
  border-bottom: 1px solid #333333;
  background: rgba(0, 0, 0, 1);
}
.links {
  text-align: center;
}
.links a {
  color: var(--color-text-complement);
  font-size: 18px;
  line-height: 28px;
  margin: 0 16px;
  padding-bottom: 3px;
  text-decoration: none;
}
.links a:hover {
  color: rgb(131, 111, 255);
  transition: color 200ms;
}
.links-footer {
  font-size: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper img {
  height: 35rem;
  border-radius: 28000px;
  border: 3px solid var(--color-primary-darker);
  margin-bottom: 52px;
  border-;
}
