html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  color: #6a6180;
}
body {
  text-align: center;
  background: var(#6a6180);
  font-family: "Optima", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: --color-box-footer ;
  display: grid;
}
header {
  margin: 0;
  height: 5vh;
  padding: 10px;
  border-top: 1px solid #6842c2;
  background: var(--color-title);
  position: relative;
}
.title h5 {
  color: var(#04bf58);
  font-size: 18px;
  line-height: 28px;
  margin: 0 16px;
  padding-bottom: 3px;
  text-decoration: none;
}

.links {
  text-align: center;
}
.links a {
  color: var(#04bf58);
  font-size: 18px;
  line-height: 28px;
  margin: 0 16px;
  padding-bottom: 3px;
  text-decoration: none;
}
.links a:hover {
  color: rgb(131, 111, 255);
  transition: color 200ms;
}
.links-footer {
  font-size: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
}
.wrapper img {
  height: 35rem;
  border-radius: 28000px;
  border: 1px solid var(--color-text-base);
  margin-bottom: 52px;
}

.espec h5 {
  margin: 100px 15px;

  grid-template-columns: repeat(3, 1fr);
}
.espec img {
  height: 10rem;
  align-items: center;

  position: absolute;
  left: 522px;
  margin-right: 52px;
}

/* minha-foto {
  display: flex;
  width: 100%;
} */
